body {
    overflow-x: hidden;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#page-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    z-index: 9999;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}



.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-out;
    visibility: hidden;
}

.buttons {
    margin: 10%;
    text-align: center;
}

.button {
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 45px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 10px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.button:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.button:focus {
    outline: none;
}

.section1 {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 2;
}



.hero-left {
    flex: 1;
    padding: clamp(2rem, 4vw, 3rem);
}

.breadcrumb {
    color: var(--greyText);
    font-size: clamp(0.75rem, 1.3vw, 1.2rem);
    margin-bottom: clamp(1rem, 2vw, 2rem);
    font-weight: 500;
}

.breadcrumb>span {
    color: red;
}



.text-holder>h1 {
    font-size: clamp(1.5rem, 3vw, 3rem);
    margin-bottom: clamp(1rem, 1.5vw, 1.5rem);
}

.text-holder>p {
    font-size: clamp(0.875rem, 1.2vw, 1.2rem);
    color: var(--greyText);
    margin-bottom: clamp(2rem, 4vw, 4rem);
}


.hero_right {
    flex: 1;
    display: flex;
    justify-content: end;
    align-items: end;
    position: relative;
    z-index: 5;
    overflow: hidden;
}

.hero_right>figure {
    position: relative;
    max-width: 600px;
    margin: 0 auto;
}

.hero_right>figure>img {
    border-radius: inherit;
    width: auto;
    height: clamp(200px, 50vw, 430px);
    object-fit: cover;
    overflow-y: hidden;
}



.button {
    background-image: linear-gradient(to right, #0033ec, #3944bd, #616da2, #c0c0c0);
}

.right {
    box-shadow: 0 4px 15px 0 rgba(53, 51, 51, 0.75);
}

.nav-link::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    bottom: 0;
    /* Stick the underline to the bottom */
    background-color: white;
    transition: width 0.3s ease-in-out;
}

/* Active state underline */
.nav-link.active::after {
    width: 100%;
}

/* Hover state underline */
.nav-link:hover::after {
    width: 100%;
}

.slider {
    position: relative;
    margin: 2rem;
    /* height: 100vh; */
    /* border: 2px solid red; */
}

.slider .owl-items.active.center .slider-card {
    transform: scale(1.15);
    opacity: 1;
    /* background-color: aqua; */
}

.slider-card {
    /* border: 1px solid green; */
    /* background-color: blue; */
    transform: scale(0.9);
    /* opacity: 0.5; */
}

.owl-nav .owl-next {
    position: absolute;
    top: calc(50% - 25px);
    right: 0;
    opacity: 1;
}

.owl-nav .owl-prev {
    position: absolute;
    top: calc(50% - 25px);
    left: 0;
    opacity: 1;
}

.hero-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    color: white;
    width: 100%;
}

.selected {
    color: skyblue;
}

select {
    background-color: #f0f0f0;
    border-radius: 20px;
}

select:focus {
    border-color: #2a6dc9;
}

.content {
    transition: max-height 0.3s ease-out;
    overflow: hidden;
    max-height: 0;
}

.content.active {
    max-height: 100px;
    /* Adjust based on the content height */
}

.content-active {
    @apply max-h-96;
    /* Adjust as needed for the content height */
}


.button.color-4 {
    background-image: linear-gradient(to right, #fc6076, #ff9a44, #ef9d43, #e75516);
    box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
}


.container-list>li::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 10px;
    height: 12px;
    width: 12px;
    border: 4px solid rgba(blue, 0.8);
    border-radius: 50%;
    box-sizing: border-box;
}


.footer-links-list>li::before {
    content: '-';
    color: red;
}

.footer-card {
    background-color: #162b3c;
    padding: clamp(10px, 2%, 20px);
    border-radius: 8px;
    text-align: center;
    color: #ffffff;
    max-width: 350px;
    /* transform: translateY(0%); */
}

.wrapper-last {
    transform: translateY(-20%);
}

.footer-card>figure {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 0.5rem;
}

.footer-card>figure>img {
    width: clamp(50px, 10vw, 80px);
    margin-bottom: clamp(10px, 2%, 15px);
    border-radius: 5px;
}

.footer-card figcaption>h6 {
    font-size: clamp(0.9rem, 1.5vw, 2rem);
    font-weight: 500;
}

.footer-card figcaption>p {
    color: #a9b9c9;
    font-size: clamp(0.7rem, 1vw, 1rem);
}

.footer-card>p {
    font-size: clamp(0.8rem, 1.2vw, 1rem);
    margin-top: clamp(10px, 2%, 15px);
    color: #a9b9c9;
}

.lower-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: clamp(1rem, 2vw, 2rem);
  }
  
  .lower-left > img {
    width: clamp(150px, 25vw, 220px);
    mix-blend-mode: hard-light;
  }
  
  .lower-center {
    flex: 2;
    text-align: center;
    font-size: clamp(0.9rem, 1.5vw, 1rem);
    color: #a9b9c9;
  }
  
  .lower_right {
    text-align: center;
  }
  
  .lower-center > h6,
  .lower-right > h6 {
    font-size: clamp(1rem, 2vw, 1.5rem);
    color: white;
    font-weight: 500;
  }
  
  .lower-center > p {
    font-size: clamp(0.655rem, 2vw, 1rem);
  }
  
  .lower-right > h6 {
    margin-bottom: clamp(10px, 2%, 20px);
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    gap: clamp(10px, 2%, 15px);
    margin: clamp(10px, 3%, 20px) 0;
  }
  
  .social-icons > img {
    width: clamp(20px, 5vw, 30px);
    aspect-ratio: 3/2;
    object-fit: contain;
  }
  
  .phone > p {
    font-size: clamp(1rem, 1.5vw, 1.2rem);
  }
  
  .phone > span {
    font-size: clamp(1rem, 1.5vw, 1.2rem);
    color: rgba(var(--primaryColor), 0.6);
  }
  
  .copyright {
    background-color: #05121a;
    text-align: center;
    padding: clamp(1rem, 35vw, 2rem);
    font-size: clamp(0.8rem, 1vw, 1rem);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 3rem;
  }
  
  .copyright > p {
    font-size: clamp(1rem, 1.2vw, 1.5rem);
  }
  
  .copyright > article {
    display: flex;
    justify-content: center;
    gap: clamp(1rem, 2vw, 1.5rem);
  }
  
  .copyright > article > p {
    font-size: clamp(1rem, 1.2vw, 1.5rem);
    cursor: pointer;
    transition: border 1s ease;
  }
  
  .copyright > article > p:hover {
    transition: border 1s ease;
    border-bottom: 1px solid white;
  }